.places {
		padding: 0 0 100px;
		background: linear-gradient(to bottom, white 90%, #FF5A5F);
}

.places h1 {
	text-align: left;
	font-size: 30px;
}

.places-box {
		display: flex;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-evenly;
}

.place-card {
		width: 390px;
		padding: 20px;
		margin: 20px;
		border: solid #FF5A5F 1px;
		border-radius: 4px;
}

.place-name {
		text-align: center;
		font-size: 30px;
}

.price_by_night {
	color: #FF5A5F;
	border: solid #FF5A5F 4px;
	border-radius: 15px 50px;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	padding: 20px 0 0 0;
	text-align: center;
}

.information {
	margin-top: 10px;
	height: 80px;
	border-top: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
}

.information .max_guest {
	width: 100px;
	height: 20px;
	background-image: url(../images/icon_group.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
	text-align: center;
}

.information .number_rooms {
	width: 100px;
	height: 20px;
	background-image: url(../images/icon_bed.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
	text-align: center;
}

.information .number_bathrooms {
	width: 125px;
	height: 20px;
	background-image: url(../images/icon_bath.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: left;
	text-align: center;
}

.user {
	font-weight: bold;
}
