.places {
		position: relative;
		z-index: -1;
		padding: 0 0 100px;
		background: linear-gradient(to bottom, white 90%, #FF5A5F);
}

.places h1 {
	text-align: left;
	font-size: 30px;
}

.places-box {
		display: flex;
		flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-evenly;
}

.place-card {
		position: relative;
		width: 390px;
		padding: 20px;
		margin: 20px;
		border: solid #FF5A5F 1px;
		border-radius: 4px;
}

.place-name {
		text-align: center;
		font-size: 30px;
}

.price_by_night {
	position: absolute;
	color: #FF5A5F;
	border: solid #FF5A5F 4px;
	border-radius: 50%;
	height: 60px;
	min-width: 60px;
	font-size: 30px;
	line-height: 60px;
	text-align: center;
	padding: 4px 3px 0 3px;
	top: 30px;
	right: 10px;
}

.information {
	display: flex;
	margin-top: 10px;
	height: 80px;
	border-top: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
	flex-direction: row;
    justify-content: center;
}

.information .max_guest {
	width: 100px;
	padding-top: 50px;
	background-image: url(../images/icon_group.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}

.information .number_rooms {
	width: 100px;
	padding-top: 50px;
	background-image: url(../images/icon_bed.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}

.information .number_bathrooms {
	width: 100px;
	padding-top: 50px;
	background-image: url(../images/icon_bath.png);
	background-repeat: no-repeat;
	background-position: center top;
	text-align: center;
}

.user {
	font-weight: bold;
	padding: 20px 5px;
}
